body{
    background-color: #36e21f;
}
input {
    font-size: 1.0em;
    padding: 10px;
    border: 5px solid #1c7dec;
    border-radius: 5px;
}
p{
    text-align: center;
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
}
button{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    margin:auto;
    display:block;
}